.s-title{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 50px;
    column-gap: 70px;
}

.s-titleh2{
    font-size: 2rem;
    font-weight: bold;
    color: #343E51;
    padding-bottom: 15px;
}

.section-text{
    color:#343E51;
}

.scontainer{
    width: 80%;
}

.btn{
    background-color:white;
    color:#D16B86;
    padding: 10px  20px;
    border-radius: 40px; 
    cursor: pointer;  
    font-weight: bold;
    border-color:#D16B86 ;
    size: 20px;
    width: 20%;
    justify-content: center;
}

.card1{
    display: grid;
    grid-template-columns: 2fr 3fr;
    left: 0;
    gap: 40px;
    background-color: #F1F5FD;
    width: 100%;
    text-transform:capitalize;
    padding: 50px;
    border-radius: 40px;
    margin-bottom: 10px;
}
.card2{
    display: grid;
    grid-template-columns: 2fr 3fr;
    left: 0;
    gap: 40px;
    background-color: #F1F5FD;
    width: 100%;
    text-transform: capitalize;
    padding: 50px;
    border-radius: 40px;
    margin-top: 30px;
}
.card3{
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: #f5faf7;
    width: 100%;
    margin: 0;
    text-transform: capitalize;
    padding: 50px;
    border-radius: 40px;
    margin-top: 30px;

}
.card4{
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: #fcf4f6;
    width: 100%;
    margin: 0;
    text-transform: capitalize; 
    padding: 50px;
    border-radius: 40px;
    margin-top: 30px;

}


.scard-title{
    color: #A07CC5;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.scard-subt{
    color: #343E51;
    padding-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.scard-p{
    color: #5227a7;
    padding-bottom: 30px;
}

.scard-span{
    color:#A07CC5;
    font-weight: bold;
}

/* card 2 */
.scard-title1{
    color: #2FA4FE;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 50px;
}

.scard-span1{
    color:#2FA4FE;
    font-weight: bold; 
}

/* card 3 */
.scard-title2{
    color: #399495;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 60px;
}

.scard-span2{
    color:#399495;
    font-weight: bold; 
}
/* card 4 */
.scard-title3{
    color: #DC8DA2;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 60px;
}

.scard-span3{
    color:#DC8DA2;
    font-weight: bold; 
}


/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/



.contact-card {
  background-color: #FCF3F5;
  padding: 32px;
  border-radius:-8px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}



.input-field {
  background-color:white;
  color: #DC8DA2;
  font-size: 1rem;
  padding: 14px 18px;
  border-radius:6px;
  outline: none;
  margin-block-end: 20px;
}

.input-field::placeholder { color:#DC8DA2; }

textarea.input-field {
  min-height: 120px;
  height: 120px;
  max-height: 240px;
  width: 60%;
  resize: vertical;
}

.section-contact{
    padding: 50px;
    border-radius: 10px;
}

/* new animation */

.slide-out-right {
	-webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-9-19 19:37:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }

  .scale-in-ver-center {
	-webkit-animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-9-19 19:41:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
  }
  
  