.s-title{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 50px;
    column-gap: 70px;
}

.btn{
    background-color: transparent;
    color:#C1125A;
    padding: 10px  20px;
    border-radius: 10px; 
    cursor: pointer;  
    font-weight: bold;
    border: white;
    size: 20px;
    width: 40%;
    justify-content: center;
}

.card1{
    display: grid;
    grid-template-columns: 2fr 3fr;
    left: 0;
    gap: 40px;
    background-color: #F1F5FD;
    width: 100%;
    text-transform:capitalize;
    padding: 50px;
    border-radius: 40px;
    margin-bottom: 10px;
}
.card2{
    display: grid;
    grid-template-columns: 2fr 3fr;
    left: 0;
    gap: 40px;
    background-color: #F1F5FD;
    width: 100%;
    text-transform: capitalize;
    padding: 50px;
    border-radius: 40px;
    margin-top: 30px;
}
.card3{
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: #f5faf7;
    width: 100%;
    margin: 0;
    text-transform: capitalize;
}
.card4{
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: #fcf4f6;
    width: 100%;
    margin: 0;
    text-transform: capitalize;
}


.scard-title{
    color: #A07CC5;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.scard-subt{
    color: #343E51;
    padding-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.scard-p{
    color: #5227a7;
    padding-bottom: 30px;
}

.scard-span{
    color:#A07CC5;
    font-weight: bold;
}

/* card 2 */
.scard-title1{
    color: #2FA4FE;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.scard-span1{
    color:#2FA4FE;
    font-weight: bold; 
}

.card-banner{
  width: 100%;
  background-size: contain;
}

