nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 71px;
  align-items: center;
  background-color: #c1125a;
  color: white;
  padding-top: 8px;
  padding-bottom: 5px;
  z-index: 50;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
}

.text-white {
  color: white;
}

.hero {
  background-color: #a1515a;
  background-attachment: fixed;
  background-size: contain;
  height: 100vh;
  width: 100%;
  /* padding: 100px; */
  display: flex;
}

.hero-image {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  height: 100vh;
  width: 50%;
}

.hero-text {
  font-size: 3rem;
  color: white;
  padding-top: 30px;
}

.intro {
  color: white;
  padding-top: 20px;
}

.title {
  font-size: 60px;
}

.subtitle {
  font-size: 16px;
}


.btns{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.btn1 {
  background-color:white;
    color: #C1125A;
    padding: 10px  20px;
    border-radius: 10px; 
    cursor: pointer;  
    font-weight: bold;
}
.btn2{
  background-color:#C1125A;
    color:white ;
    padding: 10px  20px;
    border-radius: 10px; 
    cursor: pointer;  
    font-weight: bold;
}

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-block-end: 70px;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 30px;
}

.h2-section-title {
  font-size: 1.8rem;
  color: #e56a50;
  font-weight: bold;
  padding-bottom: 10px;
}

.section-text {
  color: #7b011e;
  font-size: 1.3rem;
  font-weight: 400;
}

.progress-list .label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 4px;
}

.progress-item:not(:last-child) {
  margin-block-end: 16px;
}

.progress {
  background-color: var(--raisin-black_a6);
  height: 6px;
  width: 100%;
  border-radius: var(--radius-pill);
  overflow: hidden;
}

.progress-fill {
  height: inherit;
}

.about-card {
  text-align: center;
}

.about-card1 {
  text-align: center;
  background-color: #248586;
  color: white;
  border-radius: 10px;
}

.about-card2 {
  text-align: center;
  background-color: #F7E293;
  color: white;
  border-radius: 10px;
}

.about-card3 {
  text-align: center;
  background-color: #F36979;
  color: white;
  border-radius: 10px;
}

.about-card4 {
  text-align: center;
  background-color: #FDB07A;
  color: white;
  border-radius: 10px;
}

.about-card1 .card-icon {
  max-width: max-content;
  margin-inline: auto;
}

.about-card2 .card-icon {
  max-width: max-content;
  margin-inline: auto;
}

.about-card3 .card-icon {
  max-width: max-content;
  margin-inline: auto;
}

.about-card4 .card-icon {
  max-width: max-content;
  margin-inline: auto;
}

.about-card .card-icon {
  max-width: max-content;
  margin-inline: auto;
}

.about-card .card-title {
  margin-block: 16px 10px;
}

.grid-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  align-items: center;
  padding-left: 20px;
}
.grid-items {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  align-items: center;
  padding: 50px;
}

.footer-socials {
  display: flex;
  column-gap: 30px;
}

.footer{
  display: flex;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
  color:rgb(240, 99, 141);
  padding-bottom: 80px;
}
   
.tracking-in-contract {
  -webkit-animation: tracking-in-contract 2s ease-in-out 1s infinite both;
  animation: tracking-in-contract 2s ease-in-out 1s infinite both;
}


/* ----------------------------------------------
 * Generated by Animista on 2024-9-18 8:37:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 2px;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 2px;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}


.pulsate-fwd {
  -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
  animation: pulsate-fwd 1s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-9-18 9:6:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* new animaaation */

.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-9-19 0:41:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}


/* new animation */

.shake-lr {
	-webkit-animation: shake-lr 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.5s both;
	        animation: shake-lr 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.5s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-9-19 0:47:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-lr
 * ----------------------------------------
 */
 @-webkit-keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}
@keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}


/* new animation */

.scale-in-tr {
	-webkit-animation: scale-in-tr 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-tr 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-9-19 0:54:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-tr
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}




